/*ABOUT US*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.containers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-containers {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 760px;
    height: 500px;
    border-collapse: collapse;
}

td, tr {
    padding: 1px;
    border: 0px solid #ddd;
    text-align: center;
}

.logo-cell {
    text-align: center;
    vertical-align: middle;
    padding-top: 2px;
    padding-bottom: 2px;
}

.logo-cell img {
    max-width: 250px;
    height: auto;
}
.center-button {
    text-align: center;
    margin-top: 10px; /* Add some space above the button */
}

.container button{
    background-color: #4d7b59;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}